body {
  position: relative;
  background-image: url('https://hakolhayehudi.co.il/Uploads/2018/02/YjiIjbLoY9vUJY.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh;
  text-align: center;
  /* margin-left: 200px; */
  
 

}


h1 {
  font-size: 40px;
  font-style: italic;
  text-shadow: -1px 2px 3px rgb(0, 0, 0);
  color: lightseagreen;
}

button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  color: white;
}

.board-container table {
  margin: auto;
}

.board-container button {
  height: 48px;
  width: 48px;

  border: 1px solid black;
  background: linear-gradient(-180deg, #777473, #0f0e0e);

}

.board-container button:hover {
  background: orange
}

.board-container button.clicked {
  background: lightblue;
  cursor: not-allowed;
}

.board-container {
  background: rgba(0, 0, 0, 0.6);
  padding: 25px;
  border-radius: 16px;
  /* position: relative; */
 margin-left: 300px;
 margin-top: 150px;
  display: inline-block;
}





